<?xml version="1.0" encoding="utf-8"?>
<packages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="..\packages.xsd">
  <package id="coveralls.io" version="1.3.4" />
  <package id="EWSoftware.SHFB" version="2015.7.25" />
  <package id="EWSoftware.SHFB.NETFramework" version="4.6.0" />
  <package id="OpenCover" version="4.5.3723" />
  <package id="psake" version="4.4.2" />
  <package id="psake.net.build.module" version="1.0.14" />
  <package id="ReportGenerator" version="2.1.8.0" />
  <package id="xunit.runner.console" version="2.0.0" />
</packages>
