<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="coveralls.io" version="1.2.2" />
  <package id="NAnt.Contrib.Portable" version="0.92" />
  <package id="NAnt.Portable" version="0.92" />
  <package id="OpenCover" version="4.5.3723" />
  <package id="ReportGenerator" version="2.1.2.0" />
  <package id="SHFB" version="2014.5.31" />
  <package id="xunit.runner.console" version="2.0.0-rc4-build2924" />
</packages>