<?xml version="1.0" encoding="utf-8"?>
<packages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="..\..\packages.xsd">
  <package id="JetBrains.Annotations" version="9.2.0" targetFramework="net45" />
  <package id="Selenium.Support" version="2.47.0" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="2.47.0" targetFramework="net45" />
</packages>
