<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JetBrains.Annotations" version="10.1.5" targetFramework="net462" />
  <package id="PostSharp" version="4.3.16" targetFramework="net462" />
  <package id="PostSharp.Patterns.Common" version="4.3.16" targetFramework="net462" />
  <package id="PostSharp.Patterns.Model" version="4.3.16" targetFramework="net462" />
  <package id="Selenium.Support" version="2.53.1" targetFramework="net462" />
  <package id="Selenium.WebDriver" version="2.53.1" targetFramework="net462" />
  <package id="StyleCop.Analyzers" version="1.0.0" targetFramework="net462" developmentDependency="true" />
  <package id="System.Runtime" version="4.1.0" targetFramework="net462" />
</packages>