<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentAssertions" version="4.19.2" targetFramework="net462" />
  <package id="JetBrains.ReSharper.CommandLineTools" version="2017.1.20170428.83814" targetFramework="net462" developmentDependency="true" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net462" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net462" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net462" />
  <package id="Nancy" version="1.4.3" targetFramework="net462" />
  <package id="Nancy.Hosting.Self" version="1.4.1" targetFramework="net462" />
  <package id="OpenCover" version="4.6.519" targetFramework="net462" />
  <package id="PhantomJS" version="2.1.1" targetFramework="net462" />
  <package id="ReportGenerator" version="2.5.7" targetFramework="net462" />
  <package id="Selenium.Support" version="3.4.0" targetFramework="net462" />
  <package id="Selenium.WebDriver" version="3.4.0" targetFramework="net462" />
  <package id="PostSharp" version="5.0.37" targetFramework="net462" developmentDependency="true" />
  <package id="PostSharp.Patterns.Aggregation" version="5.0.37" targetFramework="net462" developmentDependency="true" />
  <package id="PostSharp.Patterns.Aggregation.Redist" version="5.0.37" targetFramework="net462" />
  <package id="PostSharp.Patterns.Common" version="5.0.37" targetFramework="net462" developmentDependency="true" />
  <package id="PostSharp.Patterns.Common.Redist" version="5.0.37" targetFramework="net462" />
  <package id="PostSharp.Patterns.Model" version="5.0.37" targetFramework="net462" developmentDependency="true" />
  <package id="PostSharp.Patterns.Model.Redist" version="5.0.37" targetFramework="net462" />
  <package id="PostSharp.Redist" version="5.0.37" targetFramework="net462" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.29.0" targetFramework="net462" />
  <package id="Selenium.WebDriver.MicrosoftWebDriver" version="10.0.15063" targetFramework="net462" />
  <package id="StyleCop.Analyzers" version="1.0.0" targetFramework="net462" developmentDependency="true" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net462" />
  <package id="WebDriver.GeckoDriver" version="0.16.1" targetFramework="net462" />
  <package id="WebDriver.IEDriverServer.win64" version="3.4.0" targetFramework="net462" />
  <package id="xunit" version="2.2.0" targetFramework="net462" />
  <package id="xunit.abstractions" version="2.0.1" targetFramework="net462" />
  <package id="xunit.assert" version="2.2.0" targetFramework="net462" />
  <package id="xunit.core" version="2.2.0" targetFramework="net462" />
  <package id="xunit.extensibility.core" version="2.2.0" targetFramework="net462" />
  <package id="xunit.extensibility.execution" version="2.2.0" targetFramework="net462" />
  <package id="xunit.runner.console" version="2.2.0" targetFramework="net462" developmentDependency="true" />
  <package id="xunit.runner.visualstudio" version="2.2.0" targetFramework="net462" developmentDependency="true" />
</packages>